.nav {
  position: absolute;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .nav {
    transform: translateX(-100%);
    transition: ease-in 0.4s;
  }
}

.navActive {
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .navActive {
    background-color: rgba(44, 45, 52, 0.743);
    width: 200px;
    transform: translateX(0%);
    transition: ease-out 0.4s;
    position: absolute;
  }
}
